In [70]:
import pandas as pd

In [71]:
df = pd.read_csv('data/products.csv')
df.head()

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [72]:
df.shape

(77, 10)

In [73]:
df.dtypes

ProductID            int64
ProductName         object
SupplierID           int64
CategoryID           int64
QuantityPerUnit     object
UnitPrice          float64
UnitsInStock         int64
UnitsOnOrder         int64
ReorderLevel         int64
Discontinued         int64
dtype: object

In [74]:
# Veri filtrelemek

In [75]:
# UnitPrice 18'den büyük olan verilerin ProductID, ProductName, UnitPrice, UnitsInStock sütunlarını listeleyin
# Path I
(df.query('UnitPrice > 18.00')
    .loc[:, ['ProductID', 'ProductName', 'UnitPrice', 'UnitsInStock']]
    .sort_values(by='UnitPrice', ascending=False))
# Path II
# df[
#     df['UnitPrice'] > 18.00
# ][['ProductID', 'ProductName', 'UnitPrice', 'UnitsInStock']].sort_values(by='UnitPrice', ascending=False)

# Path III
# df[
#     df['UnitPrice'] > 18.00
# ].loc[:, ['ProductID', 'ProductName', 'UnitPrice', 'UnitsInStock']].sort_values(by='UnitPrice', ascending=False)

    ProductID                       ProductName  UnitPrice  UnitsInStock
37         38                     Côte de Blaye     263.50            17
28         29           Thüringer Rostbratwurst     123.79             0
8           9                   Mishi Kobe Niku      97.00            29
19         20            Sir Rodney's Marmalade      81.00            40
17         18                  Carnarvon Tigers      62.50            42
58         59              Raclette Courdavault      55.00            79
50         51             Manjimup Dried Apples      53.00            20
61         62                    Tarte au sucre      49.30            17
42         43                       Ipoh Coffee      46.00            17
27         28                 Rössle Sauerkraut      45.60            26
62         63                      Vegie_spread      43.90            24
26         27                Schoggi Schokolade      43.90            49
7           8        Northwoods Cranberry Sauce      40.00             6
16         17                      Alice Mutton      39.00             0
11         12         Queso Manchego La Pastora      38.00            86
55         56            Gnocchi di nonna Alice      38.00            21
68         69                  Gudbrandsdalsost      36.00            26
71         72            Mozzarella di Giovanni      34.80            14
59         60                 Camembert Pierrot      34.00            19
63         64         Wimmers gute Semmelknödel      33.25            22
52         53                     Perth Pasties      32.80             0
31         32                Mascarpone Fabioli      32.00             9
25         26               Gumbär Gummibärchen      31.23            15
9          10                             Ikura      31.00            31
6           7   Uncle Bob's Organic Dried Pears      30.00            15
60         61                    Sirop d'érable      28.50           113
36         37                        Gravad lax      26.00            11
29         30             Nord_Ost Matjeshering      25.89            10
5           6      Grandma's Boysenberry Spread      25.00           120
54         55                      Pâté chinois      24.00           115
13         14                              Tofu      23.25            35
3           4      Chef Anton's Cajun Seasoning      22.00            53
70         71                       Flotemysost      21.50            26
4           5            Chef Anton's Gumbo Mix      21.35             0
64         65  Louisiana Fiery Hot Pepper Sauce      21.05            76
21         22               Gustaf's Knäckebröd      21.00           104
10         11                    Queso Cabrales      21.00            22
48         49                          Maxilaku      20.00            10
56         57                    Ravioli Angelo      19.50            36
43         44                      Gula Malacca      19.45            27
1           2                             Chang      19.00            17
35         36                       Inlagd Sill      19.00           112
39         40                  Boston Crab Meat      18.40           123

In [76]:
# UnitPrice 20'den büyük ve UnitsInStock 100 den büyük olan verilerin ProductID, ProductName, UnitPrice, UnitsInStock sütunlarını listeleyin
(df.query('UnitPrice > 20.00 and UnitsInStock > 100')
    .loc[:, ['ProductID', 'ProductName', 'UnitPrice', 'UnitsInStock']]
    .sort_values(by='UnitPrice', ascending=False))

    ProductID                   ProductName  UnitPrice  UnitsInStock
60         61                Sirop d'érable       28.5           113
5           6  Grandma's Boysenberry Spread       25.0           120
54         55                  Pâté chinois       24.0           115
21         22           Gustaf's Knäckebröd       21.0           104

In [77]:
# QuantityPerUnit sütunda "boxes" ifadesi geçen ürünlerin ProductID, ProductName, QuantityPerUnit, UnitPrice, UnitsInStock sütunlarını listeleyin
(df.query('QuantityPerUnit.str.contains("boxes")')
    .loc[:, ['ProductID', 'ProductName', 'QuantityPerUnit', 'UnitPrice', 'UnitsInStock']]
    .sort_values(by='UnitPrice', ascending=False))

,ProductID,ProductName,QuantityPerUnit,UnitPrice,UnitsInStock
19,20,Sir Rodney's Marmalade,30 gift boxes,81.00,40
54,55,Pâté chinois,24 boxes x 2 pies,24.00,115
4,5,Chef Anton's Gumbo Mix,36 boxes,21.35,0
0,1,Chai,10 boxes x 20 bags,18.00,39
15,16,Pavlova,32 - 500 g boxes,17.45,29
76,77,Original Frankfurter grüne Soße,12 boxes,13.00,32
67,68,Scottish Longbreads,10 boxes x 8 pieces,12.50,6
46,47,Zaanse koeken,10 - 4 oz boxes,9.50,36
18,19,Teatime Chocolate Biscuits,10 boxes x 12 pieces,9.20,25
51,52,Filo Mix,16 - 2 kg boxes,7.00,38

In [78]:
# QuantityPerUnit sütununda "boxes" geçen ve CategoryID'si olan ürünlerin ProductID, CategoryID, ProductName, QuantityPerUnit, UnitPrice, UnitsInStock sütunlarını listeleyin
(df.query('QuantityPerUnit.str.contains("boxes") and CategoryID == 2')
    .loc[:, ['ProductID', 'CategoryID', 'ProductName', 'QuantityPerUnit', 'UnitPrice', 'UnitsInStock']]
    .sort_values(by='UnitPrice', ascending=False))

,ProductID,CategoryID,ProductName,QuantityPerUnit,UnitPrice,UnitsInStock
4,5,2,Chef Anton's Gumbo Mix,36 boxes,21.35,0
76,77,2,Original Frankfurter grüne Soße,12 boxes,13.00,32

In [79]:
df_orders = pd.read_csv(filepath_or_buffer='data/orders.csv')
df_orders[:5]

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,04/07/1996,01/08/1996,16/07/1996,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,05/07/1996,16/08/1996,10/07/1996,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,10250,HANAR,4,08/07/1996,05/08/1996,12/07/1996,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,08/07/1996,05/08/1996,15/07/1996,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,NaN,69004,France
4,10252,SUPRD,4,09/07/1996,06/08/1996,11/07/1996,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,NaN,B-6000,Belgium

In [80]:
# sipariş aralığı 01/07/1996 ile 31/07/1996 aralığında olan siparişlerin orderID, CustomerID, OrderDate, ShipName listeleyin
(
    df_orders.query('OrderDate >= "01/07/1996" and OrderDate <= "31/07/1996"')
             .loc[:, ['OrderID', 'CustomerID', 'OrderDate', 'ShipName']]
             .sort_values(by='CustomerID', ascending=True)
)

     OrderID CustomerID   OrderDate              ShipName
587    10835      ALFKI  15/01/1998  Alfred's Futterkiste
763    11011      ALFKI  09/04/1998  Alfred's Futterkiste
444    10692      ALFKI  03/10/1997  Alfred's Futterkiste
704    10952      ALFKI  16/03/1998  Alfred's Futterkiste
454    10702      ALFKI  13/10/1997  Alfred's Futterkiste
..       ...        ...         ...                   ...
126    10374      WOLZA  05/12/1996         Wolski Zajazd
363    10611      WOLZA  25/07/1997         Wolski Zajazd
796    11044      WOLZA  23/04/1998         Wolski Zajazd
544    10792      WOLZA  23/12/1997         Wolski Zajazd
658    10906      WOLZA  25/02/1998         Wolski Zajazd

[808 rows x 4 columns]

# Path I query yöntemi ile örnekler yapalım

In [81]:
df_nba= pd.read_csv(filepath_or_buffer='data/nba.csv')
df_nba[:5]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0

In [82]:
df_nba.shape

(457, 9)

In [83]:
df_nba.dtypes

Name         object
Team         object
Number        int64
Position     object
Age           int64
Height       object
Weight        int64
College      object
Salary      float64
dtype: object

In [84]:
# Team Boston Celtics olanlar ve yaşı 18 den büyük olanların Name, Team, Age, Salary listeleyelim.
(df_nba.query('Team.str.contains("Boston Celtics") and Age > 18')
    .loc[:, ['Name', 'Team', 'Age', 'Salary']]
    .sort_values(by='Age', ascending = False)
)

               Name            Team  Age      Salary
4     Jonas Jerebko  Boston Celtics   29   5000000.0
5      Amir Johnson  Boston Celtics   29  12000000.0
2      John Holland  Boston Celtics   27         NaN
11    Isaiah Thomas  Boston Celtics   27   6912869.0
12      Evan Turner  Boston Celtics   27   3425510.0
14     Tyler Zeller  Boston Celtics   26   2616975.0
1       Jae Crowder  Boston Celtics   25   6796117.0
0     Avery Bradley  Boston Celtics   25   7730337.0
7      Kelly Olynyk  Boston Celtics   25   2165160.0
10  Jared Sullinger  Boston Celtics   24   2569260.0
3       R.J. Hunter  Boston Celtics   22   1148640.0
9      Marcus Smart  Boston Celtics   22   3431040.0
8      Terry Rozier  Boston Celtics   22   1824360.0
6     Jordan Mickey  Boston Celtics   21   1170960.0
13      James Young  Boston Celtics   20   1749840.0

In [87]:
df_fuel_consumption= pd.read_csv(filepath_or_buffer='data/FuelConsumption.csv')
df_fuel_consumption[:10]

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
5,2014,ACURA,RLX,MID-SIZE,3.5,6,AS6,Z,11.9,7.7,10.0,28,230
6,2014,ACURA,TL,MID-SIZE,3.5,6,AS6,Z,11.8,8.1,10.1,28,232
7,2014,ACURA,TL AWD,MID-SIZE,3.7,6,AS6,Z,12.8,9.0,11.1,25,255
8,2014,ACURA,TL AWD,MID-SIZE,3.7,6,M6,Z,13.4,9.5,11.6,24,267
9,2014,ACURA,TSX,COMPACT,2.4,4,AS5,Z,10.6,7.5,9.2,31,212

In [88]:
df_fuel_consumption.shape

(1067, 13)

In [89]:
df_fuel_consumption.dtypes

MODELYEAR                     int64
MAKE                         object
MODEL                        object
VEHICLECLASS                 object
ENGINESIZE                  float64
CYLINDERS                     int64
TRANSMISSION                 object
FUELTYPE                     object
FUELCONSUMPTION_CITY        float64
FUELCONSUMPTION_HWY         float64
FUELCONSUMPTION_COMB        float64
FUELCONSUMPTION_COMB_MPG      int64
CO2EMISSIONS                  int64
dtype: object

In [135]:
# groups.keys() MAKE isimlerini gösterir
df_fuel_consumption.groupby(['MAKE']).groups.keys()

dict_keys(['ACURA', 'ASTON MARTIN', 'AUDI', 'BENTLEY', 'BMW', 'BUICK', 'CADILLAC', 'CHEVROLET', 'CHRYSLER', 'DODGE', 'FIAT', 'FORD', 'GMC', 'HONDA', 'HYUNDAI', 'INFINITI', 'JAGUAR', 'JEEP', 'KIA', 'LAMBORGHINI', 'LAND ROVER', 'LEXUS', 'LINCOLN', 'MASERATI', 'MAZDA', 'MERCEDES-BENZ', 'MINI', 'MITSUBISHI', 'NISSAN', 'PORSCHE', 'RAM', 'ROLLS-ROYCE', 'SCION', 'SMART', 'SRT', 'SUBARU', 'TOYOTA', 'VOLKSWAGEN', 'VOLVO'])

In [ ]:
# groups fonksiyonu index numalarını gösterir
df_fuel_consumption.groupby(['MAKE']).groups

{'ACURA': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'ASTON MARTIN': [12, 13, 14, 15, 16, 17, 18], 'AUDI': [19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67], 'BENTLEY': [68, 69, 70, 71, 72, 73, 74, 75], 'BMW': [76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139], 'BUICK': [140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155], 'CADILLAC': [156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187], 'CHEVROLET': [188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273], 'CHRYSLER': [274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292], 'DODGE': [293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331], 'FIAT': [332, 333, 334, 335, 336, 337, 338, 339, 340, 341], 'FORD': [342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431], 'GMC': [432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480], 'HONDA': [481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501], 'HYUNDAI': [502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525], 'INFINITI': [526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546], 'JAGUAR': [547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568], 'JEEP': [569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599], 'KIA': [600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632], 'LAMBORGHINI': [633, 634, 635], 'LAND ROVER': [636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654], 'LEXUS': [655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676], 'LINCOLN': [677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687], 'MASERATI': [688, 689, 690, 691, 692, 693], 'MAZDA': [694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720], 'MERCEDES-BENZ': [721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779], 'MINI': [780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815], 'MITSUBISHI': [816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831], 'NISSAN': [832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864], 'PORSCHE': [865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908], 'RAM': [909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921], 'ROLLS-ROYCE': [922, 923, 924, 925, 926, 927, 928], 'SCION': [929, 930, 931, 932, 933, 934, 935, 936, 937], 'SMART': [938, 939], 'SRT': [940, 941], 'SUBARU': [942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964], 'TOYOTA': [965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013], 'VOLKSWAGEN': [1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055], 'VOLVO': [1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066]}

In [95]:
# MAKE' da JAGUAR olanlar, CYLINDERS 8 olan FUELTYPE Z olanların MAKE, VEHICLECLASS, ENGINESIZE, CYLINDERS, TRANSMISSION, FUELTYPE listeleyelim

(df_fuel_consumption.query('MAKE.str.contains("JAGUAR") and CYLINDERS == 8 and FUELTYPE == "Z"')
    .loc[:, ['MAKE', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS', 'TRANSMISSION', 'FUELTYPE']]
    .sort_values(by='CYLINDERS', ascending = False)
 )

       MAKE VEHICLECLASS  ENGINESIZE  CYLINDERS TRANSMISSION FUELTYPE
549  JAGUAR   TWO-SEATER         5.0          8          AS8        Z
552  JAGUAR     MID-SIZE         5.0          8          AS8        Z
554  JAGUAR     MID-SIZE         5.0          8          AS8        Z
556  JAGUAR    FULL-SIZE         5.0          8          AS8        Z
559  JAGUAR    FULL-SIZE         5.0          8          AS8        Z
561  JAGUAR    FULL-SIZE         5.0          8          AS8        Z
562  JAGUAR    FULL-SIZE         5.0          8          AS8        Z
563  JAGUAR  MINICOMPACT         5.0          8          AS6        Z
564  JAGUAR  MINICOMPACT         5.0          8          AS6        Z
565  JAGUAR  MINICOMPACT         5.0          8          AS6        Z
566  JAGUAR  MINICOMPACT         5.0          8          AS6        Z
567  JAGUAR  MINICOMPACT         5.0          8          AS6        Z
568  JAGUAR  MINICOMPACT         5.0          8          AS6        Z

In [96]:
# Markalara göre FUELCONSUMPTION_HWY ortalamalarını alalım

df_fuel_consumption.groupby('MAKE')[['FUELCONSUMPTION_HWY']].mean()

               FUELCONSUMPTION_HWY
MAKE
ACURA                     8.016667
ASTON MARTIN             12.114286
AUDI                      9.351020
BENTLEY                  11.712500
BMW                       8.648438
BUICK                     8.625000
CADILLAC                 10.259375
CHEVROLET                10.733721
CHRYSLER                  9.336842
DODGE                     9.176923
FIAT                      6.800000
FORD                     10.635556
GMC                      13.746939
HONDA                     7.376190
HYUNDAI                   7.920833
INFINITI                  9.219048
JAGUAR                   10.481818
JEEP                      9.374194
KIA                       7.836364
LAMBORGHINI              13.066667
LAND ROVER               12.247368
LEXUS                     9.050000
LINCOLN                  10.154545
MASERATI                 10.450000
MAZDA                     7.096296
MERCEDES-BENZ             9.932203
MINI                      7.038889
MITSUBISHI                7.800000
NISSAN                    9.263636
PORSCHE                   9.034091
RAM                      11.007692
ROLLS-ROYCE              12.485714
SCION                     7.444444
SMART                     5.700000
SRT                      13.000000
SUBARU                    8.304348
TOYOTA                    8.879592
VOLKSWAGEN                7.500000
VOLVO                     9.154545

In [100]:
# Markalara göre  FUELCONSUMPTION_HWY, FUELCONSUMPTION_COMB, ortalama ve orta değerlerini listeleyelim

df_fuel_consumption.groupby('MAKE')[['FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB']].agg(['mean', 'median'])

              FUELCONSUMPTION_HWY        FUELCONSUMPTION_COMB
                             mean median                 mean median
MAKE
ACURA                    8.016667   8.10             9.825000  10.05
ASTON MARTIN            12.114286  12.20            15.285714  15.40
AUDI                     9.351020   8.80            11.793878  11.20
BENTLEY                 11.712500  11.85            15.600000  16.00
BMW                      8.648438   8.30            10.907813  10.20
BUICK                    8.625000   7.95            10.856250   9.90
CADILLAC                10.259375   9.05            12.896875  11.40
CHEVROLET               10.733721   9.90            13.167442  12.60
CHRYSLER                 9.336842   8.60            12.121053  10.90
DODGE                    9.176923   9.20            11.784615  11.80
FIAT                     6.800000   6.90             7.810000   7.80
FORD                    10.635556   9.55            12.798889  12.00
GMC                     13.746939  13.90            16.755102  16.50
HONDA                    7.376190   6.90             8.857143   8.70
HYUNDAI                  7.920833   7.85             9.441667   9.45
INFINITI                 9.219048   9.30            11.161905  11.50
JAGUAR                  10.481818  10.20            13.372727  13.30
JEEP                     9.374194   8.70            11.051613  10.20
KIA                      7.836364   7.80             9.457576   9.20
LAMBORGHINI             13.066667  12.90            17.133333  17.40
LAND ROVER              12.247368  12.20            14.963158  15.00
LEXUS                    9.050000   8.90            10.713636  10.80
LINCOLN                 10.154545   9.40            12.254545  11.80
MASERATI                10.450000  10.20            13.900000  13.80
MAZDA                    7.096296   6.70             8.388889   7.70
MERCEDES-BENZ            9.932203   9.50            12.115254  11.70
MINI                     7.038889   6.90             8.197222   8.15
MITSUBISHI               7.800000   7.55             9.150000   8.75
NISSAN                   9.263636   9.30            10.930303  11.00
PORSCHE                  9.034091   8.80            11.211364  10.90
RAM                     11.007692  10.90            13.569231  13.60
ROLLS-ROYCE             12.485714  12.70            16.571429  17.10
SCION                    7.444444   7.50             8.644444   9.00
SMART                    5.700000   5.70             6.400000   6.40
SRT                     13.000000  13.00            16.900000  16.90
SUBARU                   8.304348   8.00             9.782609   9.50
TOYOTA                   8.879592   8.60            10.224490  10.20
VOLKSWAGEN               7.500000   7.60             9.116667   9.35
VOLVO                    9.154545   9.50            11.218182  11.50

In [107]:
# Yakıt tüketimi az olan ilk 5 aracı Marka, Model ve Yakıt ortalamasını alıp sıralayım
(df_fuel_consumption
 .groupby(['MAKE', 'MODEL'])[['FUELCONSUMPTION_COMB']]
 .agg(['mean', 'median'])
 .sort_values(('FUELCONSUMPTION_COMB', 'mean'))
 .head(5)
)

                              FUELCONSUMPTION_COMB
                                              mean median
MAKE       MODEL
TOYOTA     PRIUS c                             4.7    4.7
           PRIUS                               4.8    4.8
HONDA      ACCORD HYBRID                       4.8    4.8
VOLKSWAGEN JETTA TURBO HYBRID                  5.4    5.4
TOYOTA     PRIUS v                             5.5    5.5

In [ ]:

# Bütün markaları ve tüm değerlerini listeleyelim

df_fuel_consumption.groupby('MAKE').first()

,MODELYEAR,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
MAKE,,,,,,,,,,,,
ACURA,2014,TSX,COMPACT,3.5,6,AS5,Z,12.1,8.3,10.4,27,239
ASTON MARTIN,2014,VANQUISH,MINICOMPACT,5.9,12,A6,Z,18.0,12.6,15.6,18,359
AUDI,2014,TTS ROADSTER QUATTRO,TWO-SEATER,2.0,4,A6,Z,11.5,8.8,10.3,27,237
BENTLEY,2014,MULSANNE,MID-SIZE,6.8,8,AS8,Z,22.3,14.9,19.0,15,437
BMW,2014,Z4 sDRIVE35is,TWO-SEATER,3.0,6,AM7,Z,13.7,10.1,12.1,23,278
BUICK,2014,VERANO,COMPACT,2.4,4,AS6,X,11.3,7.4,9.5,30,218
CADILLAC,2014,XTS Vsport AWD,FULL-SIZE,3.6,6,AS6,Z,14.8,9.8,12.6,22,290
CHEVROLET,2014,TRAX AWD,SUV - SMALL,1.4,4,AS6,X,10.0,7.8,9.0,31,207
CHRYSLER,2014,TOWN & COUNTRY FFV,MINIVAN,3.6,6,A6,E,19.7,13.3,16.8,17,269
DODGE,2014,JOURNEY FFV,SUV - SMALL,3.6,6,A6,E,18.9,12.9,16.2,17,259
FIAT,2014,500L TURBO,STATION WAGON - SMALL,1.4,4,M6,X,9.3,7.2,8.4,34,193
FORD,2014,TRANSIT CONNECT WAGON,SPECIAL PURPOSE VEHICLE,2.5,4,AS6,X,11.9,8.5,10.4,27,239
GMC,2014,YUKON XL 4WD,SUV - STANDARD,5.3,8,A6,E,21.5,14.6,18.4,15,294
HONDA,2014,RIDGELINE AWD,PICKUP TRUCK - STANDARD,3.5,6,A5,X,15.2,11.3,13.4,21,308
HYUNDAI,2014,VELOSTER TURBO,COMPACT,1.6,4,M6,X,9.7,7.1,8.5,33,196
INFINITI,2014,QX80 4WD,SUV - STANDARD,5.6,8,AS7,Z,17.4,12.1,15.0,19,345
JAGUAR,2014,XKR-S COUPE,MINICOMPACT,5.0,8,AS6,Z,15.6,10.9,13.5,21,310
JEEP,2014,WRANGLER UNLIMITED 4X4 (4-DOOR),SUV - SMALL,3.6,6,M6,X,15.0,11.4,13.4,21,308
KIA,2014,SPORTAGE AWD,SUV - SMALL,2.4,4,A6,X,12.0,9.1,10.7,26,246
LAMBORGHINI,2014,GALLARDO COUPE,TWO-SEATER,5.2,10,M6,Z,20.6,13.5,17.4,16,400
LAND ROVER,2014,RANGE ROVER V8 5.0 SC FFV,SUV - STANDARD,5.0,8,AS8,E,25.0,16.9,21.4,13,342
LEXUS,2014,RX 450h AWD,SUV - SMALL,3.5,6,AV6,Z,7.9,8.6,8.2,34,189
LINCOLN,2014,NAVIGATOR 4X4 FFV,SUV - STANDARD,5.4,8,A6,E,24.5,18.0,21.6,13,346
MASERATI,2014,QUATTROPORTE SQ4,FULL-SIZE,3.0,6,AS8,Z,15.9,9.7,13.1,22,301
MAZDA,2014,MX-5,TWO-SEATER,2.0,4,M6,Z,11.1,8.4,9.9,29,228
MERCEDES-BENZ,2014,SLS AMG ROADSTER,TWO-SEATER,6.2,8,AS7,Z,18.2,12.6,15.7,18,361
MINI,2014,JOHN COOPER WORKS ROADSTER,TWO-SEATER,1.6,4,M6,Z,9.1,6.7,8.0,35,184
MITSUBISHI,2014,RVR 4WD,SUV - SMALL,2.0,4,AV6,X,9.8,8.0,9.0,31,207
NISSAN,2014,XTERRA 4WD,SUV - SMALL,4.0,6,M6,X,15.2,11.9,13.7,21,315
PORSCHE,2014,PANAMERA TURBO EXECUTIVE,FULL-SIZE,4.8,8,AM7,Z,15.4,9.8,12.9,22,297
RAM,2014,CARGO VAN FFV,MINIVAN,3.6,6,A6,E,18.6,12.7,15.9,18,254
ROLLS-ROYCE,2014,WRAITH,MID-SIZE,6.6,12,A8,Z,18.7,11.8,15.6,18,359
SCION,2014,xD,SUBCOMPACT,1.8,4,M5,X,8.6,7.1,7.9,36,182
SMART,2014,FORTWO COUPE,TWO-SEATER,1.0,3,AM5,Z,6.9,5.7,6.4,44,147
SRT,2014,VIPER GTS COUPE,TWO-SEATER,8.4,10,M6,Z,20.0,13.0,16.9,17,389
SUBARU,2014,XV CROSSTREK HYBRID AWD,SUV - SMALL,2.0,4,AV,X,8.1,7.2,7.7,37,177
TOYOTA,2014,YARIS,COMPACT,1.5,4,M5,X,7.8,6.3,7.1,40,163
VOLKSWAGEN,2014,TOUAREG TDI CLEAN DIESEL,SUV - STANDARD,3.0,6,AS8,D,12.3,8.0,10.4,27,281
VOLVO,2014,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [ ]:

# VOLVO markasının tüm değerlerini getirelim.
df_fuel_consumption[df_fuel_consumption['MAKE'] == 'VOLVO']

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
1056,2014,VOLVO,S60,COMPACT,2.5,5,AS6,X,11.3,7.8,9.7,29,223
1057,2014,VOLVO,S60 AWD,COMPACT,2.5,5,AS6,X,11.6,8.3,10.1,28,232
1058,2014,VOLVO,S60 AWD,COMPACT,3.0,6,AS6,X,13.2,9.5,11.5,25,264
1059,2014,VOLVO,S80,MID-SIZE,3.2,6,AS6,X,11.9,8.1,10.2,28,235
1060,2014,VOLVO,S80 AWD,MID-SIZE,3.0,6,AS6,X,13.2,9.5,11.5,25,264
1061,2014,VOLVO,XC60,SUV - SMALL,3.2,6,AS6,X,13.0,8.9,11.2,25,258
1062,2014,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1063,2014,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,25,264
1064,2014,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1065,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1066,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [131]:
# Araçların FUELTYPE'nin FUELCONSUMPTION_CITY, FUELCONSUMPTION_HWY, FUELCONSUMPTION_COMB, FUELCONSUMPTION_COMB_MPG özelliklerini mean ve median sıralayalım
df_fuel_consumption.groupby('FUELTYPE')[['FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG']] \
                   .agg(['mean', 'median'])

         FUELCONSUMPTION_CITY        FUELCONSUMPTION_HWY         \
                         mean median                mean median
FUELTYPE
D                    9.755556    9.6            6.796296    6.4
E                   20.864130   20.2           14.918478   14.6
X                   11.937160   11.4            8.694942    8.3
Z                   13.522581   13.1            9.410599    9.1

         FUELCONSUMPTION_COMB        FUELCONSUMPTION_COMB_MPG
                         mean median                     mean median
FUELTYPE
D                    8.437037   8.30                34.629630   34.0
E                   18.194565  17.80                16.108696   16.0
X                   10.482490  10.00                28.770428   28.0
Z                   11.675346  11.25                25.364055   25.0

In [ ]:
# Araçarın Apply fonksiyonu ile  3.5 ile 6.5 ENGINESIZE arasındaki mean, median, min, max değerlerini FUELCONSUMPTION_CITY, FUELCONSUMPTION_HWY, FUELCONSUMPTION_COMB, FUELCONSUMPTION_COMB_MPG, CO2EMISSIONS listeleyelim
# agg groupby nesnesi üstünde toplu işlem yapmayı sağlar ve return ile birlikte bunları geri döndürür
# avg ortalama almayı sağlar
# apply veriyi sırayla parçalar ve bu parçalara bir fonksiyon uygular
def min_max_mean_median(avg): 
    return avg.agg(['mean','median', 'min', 'max']) # toplu işlem yapmayı sağlar ve içinde döndürür

(df_fuel_consumption.query('ENGINESIZE >= 3.5 and ENGINESIZE <= 6.5')
    .groupby('ENGINESIZE')[['FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS']]
    .apply(min_max_mean_median)
)

                   FUELCONSUMPTION_CITY  FUELCONSUMPTION_HWY  \
ENGINESIZE
3.5        mean               12.687952             9.214458
           median             12.500000             9.100000
           min                 7.700000             6.700000
           max                18.900000            13.900000
3.6        mean               14.819565            10.085870
...                                 ...                  ...
6.4        max                18.500000            12.600000
6.5        mean               22.800000            12.900000
           median             22.800000            12.900000
           min                22.800000            12.900000
           max                22.800000            12.900000

                   FUELCONSUMPTION_COMB  FUELCONSUMPTION_COMB_MPG  \
ENGINESIZE
3.5        mean               11.124096                 26.048193
           median             11.000000                 26.000000
           min                 7.500000                 17.000000
           max                16.700000                 38.000000
3.6        mean               12.695652                 22.717391
...                                 ...                       ...
6.4        max                15.800000                 20.000000
6.5        mean               18.300000                 15.000000
           median             18.300000                 15.000000
           min                18.300000                 15.000000
           max                18.300000                 15.000000

                   CO2EMISSIONS
ENGINESIZE
3.5        mean      248.036145
           median    251.000000
           min       172.000000
           max       317.000000
3.6        mean      264.608696
...                         ...
6.4        max       363.000000
6.5        mean      421.000000
           median    421.000000
           min       421.000000
           max       421.000000

[100 rows x 5 columns]

In [142]:
# Araçarın Apply fonksiyonu ile  3.5 ile 6.5 ENGINESIZE arasındaki mean, median, min, max değerlerini FUELCONSUMPTION_CITY, FUELCONSUMPTION_HWY, FUELCONSUMPTION_COMB, FUELCONSUMPTION_COMB_MPG, CO2EMISSIONS listeleyelim
# apply() yerine agg() kullandık agg() daha sade bir çözümdür.
# apply() kullanmak, her gruba özel bir işlem yapmak isteseydin (örneğin: belirli koşula göre sadece min-max döndürmek), apply() devreye girer
# agg() bu iş için en uygun ve okunabilir yöntem.
#  apply() ise özel durumlar ve esnek kontroller için.
(df_fuel_consumption.query('ENGINESIZE >= 3.5 and ENGINESIZE <= 6.5')
    .groupby('ENGINESIZE')[['FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS']]
    .agg(['mean', 'median', 'min', 'max'])
)

           FUELCONSUMPTION_CITY                    FUELCONSUMPTION_HWY         \
                           mean median   min   max                mean median
ENGINESIZE
3.5                   12.687952  12.50   7.7  18.9            9.214458   9.10
3.6                   14.819565  14.15  12.3  20.5           10.085870   9.80
3.7                   14.122857  13.50  12.0  20.2           10.094286   9.60
3.8                   13.518750  12.95  12.1  17.6            9.431250   9.05
4.0                   15.013636  14.80  13.5  16.8           10.731818  11.05
4.2                   18.016667  17.60  15.2  21.2           11.833333  11.15
4.3                   16.720000  17.10  13.4  20.0           12.500000  12.70
4.4                   15.930000  16.20  14.4  18.1           10.665000  10.90
4.6                   17.910000  16.40  14.5  25.5           13.530000  12.55
4.7                   15.858824  16.20  13.3  18.2           10.788235  11.30
4.8                   17.740000  15.90  15.0  21.3           11.910000  11.15
5.0                   17.594872  16.40  12.0  25.0           12.305128  12.20
5.2                   19.733333  19.70  18.0  21.1           12.750000  13.15
5.3                   19.775000  19.05  14.6  25.3           14.479167  14.20
5.4                   22.112500  22.55  18.2  26.7           16.612500  16.75
5.5                   15.971429  15.45  12.3  20.0           11.621429  10.85
5.6                   17.266667  17.65  14.5  19.7           12.050000  12.45
5.7                   16.881250  16.70  15.6  19.0           11.343750  11.20
5.8                   15.900000  15.90  15.9  15.9            9.900000   9.90
5.9                   18.000000  18.00  18.0  18.0           12.600000  12.60
6.0                   23.042857  21.90  16.7  30.2           15.185714  15.00
6.2                   18.406250  18.05  13.7  25.7           12.746875  12.55
6.3                   18.200000  18.20  18.2  18.2           12.600000  12.60
6.4                   17.080000  16.70  16.7  18.5           10.780000  10.30
6.5                   22.800000  22.80  22.8  22.8           12.900000  12.90

                       FUELCONSUMPTION_COMB                     \
             min   max                 mean median   min   max
ENGINESIZE
3.5          6.7  13.9            11.124096  11.00   7.5  16.7
3.6          7.6  14.5            12.695652  12.10  10.2  17.8
3.7          7.8  15.3            12.305714  11.70  10.2  18.0
3.8          8.6  11.5            11.693750  11.15  10.6  14.5
4.0          8.6  12.3            13.109091  13.00  11.3  14.2
4.2         10.9  13.4            15.216667  14.60  13.3  17.7
4.3          9.9  15.1            14.820000  15.10  11.8  17.8
4.4          9.6  13.7            13.570000  13.80  12.2  16.1
4.6          9.6  20.0            15.930000  14.70  12.3  23.0
4.7          8.9  13.1            13.576471  14.20  11.4  15.6
4.8          9.7  14.3            15.140000  13.80  12.7  18.2
5.0          9.3  17.0            15.233333  14.60  11.4  21.4
5.2         11.3  13.8            16.583333  16.55  15.4  17.8
5.3         10.3  19.3            17.404167  16.70  12.7  22.6
5.4         13.3  20.5            19.637500  19.95  16.0  23.9
5.5          8.7  15.9            14.014286  13.30  10.7  18.2
5.6          9.5  14.3            14.916667  15.30  12.3  17.3
5.7          9.2  13.9            14.393750  14.25  12.8  16.7
5.8          9.9   9.9            13.200000  13.20  13.2  13.2
5.9         12.6  12.6            15.600000  15.60  15.6  15.6
6.0         11.2  20.5            19.507143  18.80  14.2  25.8
6.2          8.2  17.8            15.856250  15.50  11.2  22.1
6.3         12.6  12.6            15.700000  15.70  15.7  15.7
6.4         10.3  12.6            14.220000  13.80  13.8  15.8
6.5         12.9  12.9            18.300000  18.30  18.3  18.3

           FUELCONSUMPTION_COMB_MPG                CO2EMISSIONS              \
                               mean median min max         mean median  min
ENGINESIZE
3.5                       26.048193   26.0  17  38   248.036145  251.0  172
3.6                       22.717391   23.0  16  28   264.608696  262.0  222
3.7                       23.428571   24.0  16  28   269.257143  267.0  235
3.8                       24.375000   25.0  19  27   269.062500  256.5  244
4.0                       21.636364   22.0  20  25   301.636364  299.0  260
4.2                       18.666667   19.0  16  21   350.000000  336.0  306
4.3                       19.600000   19.0  16  24   292.400000  285.0  269
4.4                       20.700000   20.0  18  23   312.000000  317.0  281
4.6                       18.500000   19.5  12  23   335.000000  338.0  283
4.7                       21.058824   20.0  18  25   312.235294  327.0  262
4.8                       19.300000   20.5  16  22   348.300000  317.5  292
5.0                       19.025641   19.0  13  25   315.128205  315.0  262
5.2                       17.000000   17.0  16  18   381.166667  380.5  354
5.3                       16.541667   17.0  12  22   330.750000  325.5  270
5.4                       14.750000   14.0  12  18   373.375000  368.0  346
5.5                       20.571429   21.0  16  26   322.214286  306.0  246
5.6                       19.166667   18.5  16  23   343.166667  352.0  283
5.7                       19.750000   20.0  17  22   330.875000  327.5  294
5.8                       21.000000   21.0  21  21   304.000000  304.0  304
5.9                       18.000000   18.0  18  18   359.000000  359.0  359
6.0                       15.071429   15.0  11  20   397.214286  411.0  327
6.2                       18.218750   18.0  13  25   346.218750  343.5  258
6.3                       18.000000   18.0  18  18   361.000000  361.0  361
6.4                       19.600000   20.0  18  20   326.800000  317.0  317
6.5                       15.000000   15.0  15  15   421.000000  421.0  421


            max
ENGINESIZE
3.5         317
3.6         313
3.7         308
3.8         334
4.0         327
4.2         407
4.3         347
4.4         370
4.6         386
4.7         359
4.8         419
5.0         354
5.2         409
5.3         380
5.4         421
5.5         419
5.6         398
5.7         384
5.8         304
5.9         359
6.0         435
6.2         414
6.3         361
6.4         363
6.5         421

In [115]:
# AUDI modellerini FUELCONSUMPTION_HWY azdan çoka sıralayım.
df_fuel_consumption[df_fuel_consumption['MAKE'] == 'AUDI'] \
    .sort_values(by='FUELCONSUMPTION_HWY', ascending=True)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
29,2014,AUDI,A7 QUATTRO TDI CLEAN DIESEL,MID-SIZE,3.0,6,AS8,D,9.8,6.4,8.3,34,224
32,2014,AUDI,A8 TDI CLEAN DIESEL,MID-SIZE,3.0,6,AS8,D,10.0,6.4,8.4,34,227
27,2014,AUDI,A6 QUATTRO TDI CLEAN DIESEL,MID-SIZE,3.0,6,AS8,D,9.8,6.4,8.3,34,224
36,2014,AUDI,A8L TDI CLEAN DIESEL,FULL-SIZE,3.0,6,AS8,D,10.1,6.5,8.5,33,230
19,2014,AUDI,A4,COMPACT,2.0,4,AV8,Z,9.9,7.4,8.8,32,202
24,2014,AUDI,A5 QUATTRO,SUBCOMPACT,2.0,4,M6,Z,10.8,7.5,9.3,30,214
21,2014,AUDI,A4 QUATTRO,COMPACT,2.0,4,M6,Z,10.8,7.5,9.3,30,214
41,2014,AUDI,Q5 TDI CLEAN DIESEL,SUV - SMALL,3.0,6,AS8,D,10.3,7.6,9.1,31,246
65,2014,AUDI,TT ROADSTER QUATTRO,TWO-SEATER,2.0,4,A6,Z,10.4,7.6,9.1,31,209
64,2014,AUDI,TT COUPE QUATTRO,SUBCOMPACT,2.0,4,A6,Z,10.4,7.6,9.1,31,209
23,2014,AUDI,A5 QUATTRO,SUBCOMPACT,2.0,4,AS8,Z,11.5,8.1,10.0,28,230
25,2014,AUDI,A6 QUATTRO,MID-SIZE,2.0,4,AS8,Z,12.0,8.1,10.2,28,235
22,2014,AUDI,A5 CABRIOLET QUATTRO,SUBCOMPACT,2.0,4,AS8,Z,11.5,8.1,10.0,28,230
20,2014,AUDI,A4 QUATTRO,COMPACT,2.0,4,AS8,Z,11.5,8.1,10.0,28,230
40,2014,AUDI,Q5 HYBRID,SUV - SMALL,2.0,4,AS8,Z,9.9,8.3,9.2,31,212
43,2014,AUDI,Q7 TDI CLEAN DIESEL,SUV - STANDARD,3.0,6,AS8,D,12.9,8.4,10.9,26,294
38,2014,AUDI,Q5,SUV - SMALL,2.0,4,AS8,Z,12.0,8.5,10.4,27,239
26,2014,AUDI,A6 QUATTRO,MID-SIZE,3.0,6,AS8,Z,12.8,8.6,10.9,26,251
31,2014,AUDI,A8,MID-SIZE,4.0,8,AS8,Z,13.5,8.6,11.3,25,260
33,2014,AUDI,A8L,FULL-SIZE,3.0,6,AS8,Z,13.1,8.8,11.2,25,258
37,2014,AUDI,ALLROAD QUATTRO,STATION WAGON - SMALL,2.0,4,AS8,Z,11.8,8.8,10.5,27,242
66,2014,AUDI,TTS COUPE QUATTRO,SUBCOMPACT,2.0,4,A6,Z,11.5,8.8,10.3,27,237
28,2014,AUDI,A7 QUATTRO,MID-SIZE,3.0,6,AS8,Z,13.1,8.8,11.2,25,258
30,2014,AUDI,A8,MID-SIZE,3.0,6,AS8,Z,13.1,8.8,11.2,25,258
67,2014,AUDI,TTS ROADSTER QUATTRO,TWO-SEATER,2.0,4,A6,Z,11.5,8.8,10.3,27,237
39,2014,AUDI,Q5,SUV - SMALL,3.0,6,AS8,Z,12.9,9.2,11.2,25,258
57,2014,AUDI,S5,SUBCOMPACT,3.0,6,A7,Z,13.2,9.2,11.4,25,262
55,2014,AUDI,S4,COMPACT,3.0,6,A7,Z,13.2,9.2,11.4,25,262
54,2014,AUDI,RS7,MID-SIZE,4.0,8,AS8,Z,15.3,9.3,12.6,22,290
59,2014,AUDI,S5 CABRIOLET,SUBCOMPACT,3.0,6,A7,Z,13.3,9.5,11.6,24,267
34,2014,AUDI,A8L,FULL-SIZE,4.0,8,AS8,Z,14.7,9.7,12.5,23,288
61,2014,AUDI,S7,MID-SIZE,4.0,8,A7,Z,14.2,9.7,12.2,23,281
60,2014,AUDI,S6,MID-SIZE,4.0,8,A7,Z,14.2,9.7,12.2,23,281
58,2014,AUDI,S5,SUBCOMPACT,3.0,6,M6,Z,14.6,9.8,12.4,23,285
62,2014,AUDI,S8,MID-SIZE,4.0,8,AS8,Z,15.4,9.8,12.9,22,297
56,2014,AUDI,S4,COMPACT,3.0,6,M6,Z,14.6,9.8,12.4,23,285
63,2014,AUDI,SQ5,SUV - SMALL,3.0,6,AS8,Z,14.9,10.1,12.7,22,292
42,2014,AUDI,Q7,SUV - STANDARD,3.0,6,AS8,Z,15.1,10.9,13.2,21,304
52,2014,AUDI,RS5,SUBCOMPACT,4.2,8,A7,Z,15.3,10.9,13.3,21,306
48,2014,AUDI,R8 SPYDER,TWO-SEATER,4.2,8,A7,Z,17.6,11.0,14.6,19,336
44,2014,AUDI,R8,TWO-SEATER,4.2,8,A7,Z,17.6,11.0,14.6,19,336
50,2014,AUDI,R8 SPYDER,TWO-SEATER,5.2,10,A7,Z,18.8,11.3,15.4,18,354
46,2014,AUDI,R8,TWO-SEATER,5.2,10,A7,Z,18.8,11.3,15.4,18,354
53,2014,AUDI,RS5 CABRIOLET,SUBCOMPACT,4.2,8,A7,Z,15.2,11.3,13.4,21,308
35,2014,AUDI,A8L,FULL-SIZE,6.3,12,AS8,Z,18.2,12.6,15.7,18,361
45,2014,AUDI,R8,TWO-SEATER,4.2,8,M6,Z,21.2,13.4,17.7,16,407
49,2014,AUDI,R8 SPYDER,TWO-SEATER,4.2,8,M6,Z,21.2,13.4,17.7,16,407
47,2014,AUDI,R8,TWO-SEATER,5.2,10,M6,Z,21.1,13.8,17.8,16,409
51,2014,AUDI,R8 SPYDER,TWO-SEATER,5.2,10,M6,Z,21.1,13.8,17.8,16,409

In [121]:
# TOYOTA markasının COROLLA, AUDI markasının R8 modelini mean ve medianlarnı listeleyelim

(df_fuel_consumption
 .query('(MAKE == "TOYOTA" and MODEL.str.contains("COROLLA", case=False)) or (MAKE == "AUDI" and MODEL == "R8")')
 .groupby(['MAKE', 'MODEL'])[['FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY','FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS']]                                                        
 .agg(['mean', 'median'])
)

                               FUELCONSUMPTION_CITY         \
                                               mean median
MAKE   MODEL
AUDI   R8                                    19.675  19.95
TOYOTA COROLLA                                8.250   8.20
       COROLLA LE ECO (1-mode)                7.700   7.70
       COROLLA LE ECO (2-mode)                7.800   7.80
       COROLLA MATRIX                         9.150   9.15

                               FUELCONSUMPTION_HWY         \
                                              mean median
MAKE   MODEL
AUDI   R8                                   12.375  12.35
TOYOTA COROLLA                               6.250   6.30
       COROLLA LE ECO (1-mode)               5.600   5.60
       COROLLA LE ECO (2-mode)               5.900   5.90
       COROLLA MATRIX                        7.400   7.40

                               FUELCONSUMPTION_COMB         \
                                               mean median
MAKE   MODEL
AUDI   R8                                    16.375  16.55
TOYOTA COROLLA                                7.375   7.35
       COROLLA LE ECO (1-mode)                6.800   6.80
       COROLLA LE ECO (2-mode)                6.900   6.90
       COROLLA MATRIX                         8.350   8.35

                               FUELCONSUMPTION_COMB_MPG        CO2EMISSIONS  \
                                                   mean median         mean
MAKE   MODEL
AUDI   R8                                         17.25   17.0        376.5
TOYOTA COROLLA                                    38.50   38.5        169.5
       COROLLA LE ECO (1-mode)                    42.00   42.0        156.0
       COROLLA LE ECO (2-mode)                    41.00   41.0        159.0
       COROLLA MATRIX                             33.50   33.5        192.5


                               median
MAKE   MODEL
AUDI   R8                       380.5
TOYOTA COROLLA                  169.0
       COROLLA LE ECO (1-mode)  156.0
       COROLLA LE ECO (2-mode)  159.0
       COROLLA MATRIX           192.5

In [128]:
# Araçların MID tipinin ENGINESIZE, FUELCONSUMPTION_CITY, FUELCONSUMPTION_HWY, FUELCONSUMPTION_COMB, FUELCONSUMPTION_COMB_MPG özelliklerinin min ve max değerlerini listeleyelim

(df_fuel_consumption.query('VEHICLECLASS.str.contains("MID")')
    .groupby(['MAKE','MODEL','VEHICLECLASS'])[['ENGINESIZE', 'FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG']]
    .agg(['min','max']))

                                                                ENGINESIZE  \
                                                                       min
MAKE       MODEL                       VEHICLECLASS
ACURA      RLX                         MID-SIZE                        3.5
           TL                          MID-SIZE                        3.5
           TL AWD                      MID-SIZE                        3.7
AUDI       A6 QUATTRO                  MID-SIZE                        2.0
           A6 QUATTRO TDI CLEAN DIESEL MID-SIZE                        3.0
...                                                                    ...
TOYOTA     PRIUS v                     STATION WAGON - MID-SIZE        1.8
VOLKSWAGEN PASSAT                      MID-SIZE                        1.8
           PASSAT TDI CLEAN DIESEL     MID-SIZE                        2.0
VOLVO      S80                         MID-SIZE                        3.2
           S80 AWD                     MID-SIZE                        3.0

                                                                      \
                                                                 max
MAKE       MODEL                       VEHICLECLASS
ACURA      RLX                         MID-SIZE                  3.5
           TL                          MID-SIZE                  3.5
           TL AWD                      MID-SIZE                  3.7
AUDI       A6 QUATTRO                  MID-SIZE                  3.0
           A6 QUATTRO TDI CLEAN DIESEL MID-SIZE                  3.0
...                                                              ...
TOYOTA     PRIUS v                     STATION WAGON - MID-SIZE  1.8
VOLKSWAGEN PASSAT                      MID-SIZE                  3.6
           PASSAT TDI CLEAN DIESEL     MID-SIZE                  2.0
VOLVO      S80                         MID-SIZE                  3.2
           S80 AWD                     MID-SIZE                  3.0

                                                                FUELCONSUMPTION_CITY  \
                                                                                 min
MAKE       MODEL                       VEHICLECLASS
ACURA      RLX                         MID-SIZE                                 11.9
           TL                          MID-SIZE                                 11.8
           TL AWD                      MID-SIZE                                 12.8
AUDI       A6 QUATTRO                  MID-SIZE                                 12.0
           A6 QUATTRO TDI CLEAN DIESEL MID-SIZE                                  9.8
...                                                                              ...
TOYOTA     PRIUS v                     STATION WAGON - MID-SIZE                  5.3
VOLKSWAGEN PASSAT                      MID-SIZE                                  9.9
           PASSAT TDI CLEAN DIESEL     MID-SIZE                                  8.0
VOLVO      S80                         MID-SIZE                                 11.9
           S80 AWD                     MID-SIZE                                 13.2

                                                                       \
                                                                  max
MAKE       MODEL                       VEHICLECLASS
ACURA      RLX                         MID-SIZE                  11.9
           TL                          MID-SIZE                  11.8
           TL AWD                      MID-SIZE                  13.4
AUDI       A6 QUATTRO                  MID-SIZE                  12.8
           A6 QUATTRO TDI CLEAN DIESEL MID-SIZE                   9.8
...                                                               ...
TOYOTA     PRIUS v                     STATION WAGON - MID-SIZE   5.3
VOLKSWAGEN PASSAT                      MID-SIZE                  12.4
           PASSAT TDI CLEAN DIESEL     MID-SIZE                   8.1
VOLVO      S80                         MID-SIZE                  11.9
           S80 AWD                     MID-SIZE                  13.2

                                                                FUELCONSUMPTION_HWY  \
                                                                                min
MAKE       MODEL                       VEHICLECLASS
ACURA      RLX                         MID-SIZE                                 7.7
           TL                          MID-SIZE                                 8.1
           TL AWD                      MID-SIZE                                 9.0
AUDI       A6 QUATTRO                  MID-SIZE                                 8.1
           A6 QUATTRO TDI CLEAN DIESEL MID-SIZE                                 6.4
...                                                                             ...
TOYOTA     PRIUS v                     STATION WAGON - MID-SIZE                 5.8
VOLKSWAGEN PASSAT                      MID-SIZE                                 6.9
           PASSAT TDI CLEAN DIESEL     MID-SIZE                                 5.4
VOLVO      S80                         MID-SIZE                                 8.1
           S80 AWD                     MID-SIZE                                 9.5

                                                                      \
                                                                 max
MAKE       MODEL                       VEHICLECLASS
ACURA      RLX                         MID-SIZE                  7.7
           TL                          MID-SIZE                  8.1
           TL AWD                      MID-SIZE                  9.5
AUDI       A6 QUATTRO                  MID-SIZE                  8.6
           A6 QUATTRO TDI CLEAN DIESEL MID-SIZE                  6.4
...                                                              ...
TOYOTA     PRIUS v                     STATION WAGON - MID-SIZE  5.8
VOLKSWAGEN PASSAT                      MID-SIZE                  8.8
           PASSAT TDI CLEAN DIESEL     MID-SIZE                  5.9
VOLVO      S80                         MID-SIZE                  8.1
           S80 AWD                     MID-SIZE                  9.5

                                                                FUELCONSUMPTION_COMB  \
                                                                                 min
MAKE       MODEL                       VEHICLECLASS
ACURA      RLX                         MID-SIZE                                 10.0
           TL                          MID-SIZE                                 10.1
           TL AWD                      MID-SIZE                                 11.1
AUDI       A6 QUATTRO                  MID-SIZE                                 10.2
           A6 QUATTRO TDI CLEAN DIESEL MID-SIZE                                  8.3
...                                                                              ...
TOYOTA     PRIUS v                     STATION WAGON - MID-SIZE                  5.5
VOLKSWAGEN PASSAT                      MID-SIZE                                  8.6
           PASSAT TDI CLEAN DIESEL     MID-SIZE                                  6.8
VOLVO      S80                         MID-SIZE                                 10.2
           S80 AWD                     MID-SIZE                                 11.5

                                                                       \
                                                                  max
MAKE       MODEL                       VEHICLECLASS
ACURA      RLX                         MID-SIZE                  10.0
           TL                          MID-SIZE                  10.1
           TL AWD                      MID-SIZE                  11.6
AUDI       A6 QUATTRO                  MID-SIZE                  10.9
           A6 QUATTRO TDI CLEAN DIESEL MID-SIZE                   8.3
...                                                               ...
TOYOTA     PRIUS v                     STATION WAGON - MID-SIZE   5.5
VOLKSWAGEN PASSAT                      MID-SIZE                  10.8
           PASSAT TDI CLEAN DIESEL     MID-SIZE                   7.1
VOLVO      S80                         MID-SIZE                  10.2
           S80 AWD                     MID-SIZE                  11.5

                                                                FUELCONSUMPTION_COMB_MPG  \
                                                                                     min
MAKE       MODEL                       VEHICLECLASS
ACURA      RLX                         MID-SIZE                                       28
           TL                          MID-SIZE                                       28
           TL AWD                      MID-SIZE                                       24
AUDI       A6 QUATTRO                  MID-SIZE                                       26
           A6 QUATTRO TDI CLEAN DIESEL MID-SIZE                                       34
...                                                                                  ...
TOYOTA     PRIUS v                     STATION WAGON - MID-SIZE                       51
VOLKSWAGEN PASSAT                      MID-SIZE                                       26
           PASSAT TDI CLEAN DIESEL     MID-SIZE                                       40
VOLVO      S80                         MID-SIZE                                       28
           S80 AWD                     MID-SIZE                                       25


                                                                max
MAKE       MODEL                       VEHICLECLASS
ACURA      RLX                         MID-SIZE                  28
           TL                          MID-SIZE                  28
           TL AWD                      MID-SIZE                  25
AUDI       A6 QUATTRO                  MID-SIZE                  28
           A6 QUATTRO TDI CLEAN DIESEL MID-SIZE                  34
...                                                              ..
TOYOTA     PRIUS v                     STATION WAGON - MID-SIZE  51
VOLKSWAGEN PASSAT                      MID-SIZE                  33
           PASSAT TDI CLEAN DIESEL     MID-SIZE                  42
VOLVO      S80                         MID-SIZE                  28
           S80 AWD                     MID-SIZE                  25

[121 rows x 10 columns]

In [ ]:
df = pd.read_csv(filepath_or_buffer='data/drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [ ]:
df.shape

(200, 6)

In [ ]:
df.dtypes

Age              int64
Sex             object
BP              object
Cholesterol     object
Na_to_K        float64
Drug            object
dtype: object

In [ ]:
# Yaş 40 den büyük olanların Age, Sex, BP, Cholesterol, Drug, 'Na_to_K Path I yöntemi ile getirelim
(df.query('Age > 40')
    .loc[:, ['Age', 'Sex', 'BP', 'Cholesterol', 'Drug', 'Na_to_K']]
    .sort_values(by='Age', ascending=False)
)

     Age Sex      BP Cholesterol   Drug  Na_to_K
13    74   F     LOW        HIGH  drugY   20.942
31    74   M    HIGH        HIGH  drugB    9.567
135   74   M     LOW      NORMAL  drugX   11.939
143   74   M    HIGH      NORMAL  drugY   15.436
40    73   F  NORMAL        HIGH  drugY   19.221
..   ...  ..     ...         ...    ...      ...
93    42   F     LOW      NORMAL  drugY   29.271
73    41   F  NORMAL      NORMAL  drugY   22.905
7     41   M     LOW        HIGH  drugC   11.037
91    41   M    HIGH      NORMAL  drugY   15.156
173   41   F     LOW      NORMAL  drugY   18.739

[113 rows x 6 columns]

In [ ]:
# Yaş 20 den büyük olanların ve Sex M olanların Age, Sex, BP, Cholesterol, Drug, 'Na_to_K Path I yöntemi ile getirelim
(df.query('Age > 20 and Sex == "M"')
    .loc[:, ['Age', 'Sex', 'BP', 'Cholesterol', 'Drug', 'Na_to_K']]
    .sort_values(by='Age', ascending=False)
)

     Age Sex      BP Cholesterol   Drug  Na_to_K
31    74   M    HIGH        HIGH  drugB    9.567
143   74   M    HIGH      NORMAL  drugY   15.436
135   74   M     LOW      NORMAL  drugX   11.939
108   72   M    HIGH      NORMAL  drugB    9.677
193   72   M     LOW        HIGH  drugC    6.769
..   ...  ..     ...         ...    ...      ...
191   23   M    HIGH        HIGH  drugA    8.011
198   23   M  NORMAL      NORMAL  drugX   14.020
104   22   M    HIGH      NORMAL  drugY   28.294
106   22   M  NORMAL        HIGH  drugX   11.953
149   22   M     LOW        HIGH  drugC    8.151

[98 rows x 6 columns]

In [ ]:
# Sex = M olan yaşı 30 üzerinde olup 60 yaşının altında BP'si LOW olan Path I yöntemi ve iloc ile Age, Sex, BP, Drug getirelim
(df.query('Age > 30 and Age < 60 and Sex == "M" and BP == "LOW"')
    .iloc[:, [0,1,2,5]]
    .sort_values(by='Age', ascending=False)
)

     Age Sex   BP   Drug
20    57   M  LOW  drugY
94    56   M  LOW  drugY
157   53   M  LOW  drugY
131   52   M  LOW  drugY
32    49   M  LOW  drugX
132   49   M  LOW  drugX
155   49   M  LOW  drugC
1     47   M  LOW  drugC
2     47   M  LOW  drugC
22    47   M  LOW  drugY
128   47   M  LOW  drugY
29    45   M  LOW  drugY
171   45   M  LOW  drugX
63    45   M  LOW  drugX
9     43   M  LOW  drugY
12    43   M  LOW  drugY
107   42   M  LOW  drugY
7     41   M  LOW  drugC
37    39   M  LOW  drugX
165   38   M  LOW  drugY
105   37   M  LOW  drugX
154   37   M  LOW  drugY
95    36   M  LOW  drugX
112   35   M  LOW  drugX

In [ ]:
# Sex = F olan, yaşları 40 ve 40 dan büyük olan küçükten büyüğe sıralayarak, drugX ilacı kullanıp BP NORMAL ve Cholesterol HIGH olanların Age, Sex, BP, Cholesterol, Drug listeleyelim
(df.query('Sex == "F" and Age >=40 and Drug == "drugX" and Cholesterol == "HIGH" and BP == "NORMAL"')
    .loc[:, ['Age', 'Sex', 'BP', 'Cholesterol', 'Drug']]
    .sort_values(by='Age', ascending=True)
)

     Age Sex      BP Cholesterol   Drug
117   40   F  NORMAL        HIGH  drugX
14    50   F  NORMAL        HIGH  drugX
86    51   F  NORMAL        HIGH  drugX
167   57   F  NORMAL        HIGH  drugX
181   59   F  NORMAL        HIGH  drugX
139   69   F  NORMAL        HIGH  drugX